<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Live Chat!</h1>
            <h3 class="mb-5">
                <em>Connect to the live chat with people around the world!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Let's go!
            </a>
        </div>
    </header>
</main>