<div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-header">
                        Chat con {{links.title}}
                    </div>
                    {{#if messages}}
                    <div class="card-body chat-body">
                        <!-- Mensajes del chat -->
                        <div class="mb-3">
                            <div class="message sent">
                                <p>Hola, ¿cómo estás?</p>
                                <span class="time">10:00 AM</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="message received">
                                <p>Muy bien, gracias!</p>
                                <span class="time">10:05 AM</span>
                            </div>
                        </div>
                        <!-- Fin de los mensajes del chat -->
                    </div>
                    {{else}}
                    <div class="card-body chat-body">
                        <!-- Mensajes del chat -->
                        <div class="text-center p-5">
                            <div class="message sent">
                                <p>Inicia enviando un mensaje</p>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="card-footer">
                        <form action="/links/chat/{{links.id}}" method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Escribe tu mensaje..." name="message">
                                <button class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>