<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultados de la Búsqueda de Usuarios</title>
</head>
<body>
  <h1>Resultados de la Búsqueda de Usuarios</h1>
  <ul>
    {{#if users.length}}
      {{#each users}}
        <li>
          <h2>{{this.username}}</h2>
          <p>Nombre Completo: {{this.full_name}}</p>
        </li>
      {{/each}}
    {{else}}
      <li>No se encontraron resultados</li>
    {{/if}}
  </ul>
</body>
</html>
