* {
  padding: 0px;
  margin: 0px;
  transition: all .3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div_container {
  display: flex;
  background-color: #fff;
  width: 100dvw;
  height: 100dvh;
  animation: animation .3s;
}

.section_right {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 200px;
  height: 100dvh;
  align-items: center;
}

.search_bar {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  margin: 10px 5px;
  padding: 5px 2px;
  background-color: transparent;
  border: 3px solid #ddd;
  border-radius: 4px;
}

.icon_element {
  margin: auto;
}

.search_input {
    padding: 2px 3px;
    background-color: transparent;
    width: 150px;
    height: 100%;
    border: none;
}
.search_input:focus{
    outline: none;
}


.button_container {
    width: 90%;
    display: flex;
    justify-content: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}
.buttons_container_mayor{
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
}

.container_text{
    cursor: pointer;
    line-height: 50px;
    border: 2px solid #ddd;
    text-align: center;
    color: #000;
    display: inline-block;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    width: 125px;
}

.icon_i{
    margin: 10px;
    padding: 10px;
}

.desplegated_div{
  width: 100%;
  height: 100%;
  animation: animation .5s linear;
}

.return_div{
  width: 0%;
  height: 0%;
  animation: animation .5s linear;
}

/*Studies Styles*/
.studies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.studies_main_container_left{
  margin: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.studies_main_container_right{
  margin: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.studies_exposer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.studies_container{
  margin: 10px;
  background-color: #bbb;
}
.studies_text_container{
  padding: 10px;
  background-color: #fff;
  margin:3px;
  flex-grow: 1;
}
.studies_1{
  display: flex;
  flex-direction: column;
}
.studies_1 img{
  max-height: 400px;
}
.studies_2{
  display: flex;
  flex-direction: row;
}
.studies_2 img{
  display: inline;
  height: auto;
  object-fit: fill;
  max-width: 100px;
}
.studies_3{
  display: flex;
}
.studies_3 img{
  display: inline;
  height: auto;
  object-fit: fill;
  max-width: 100px;
}
.studies_4{
  margin-top: 20px;
}
.studies_5{
  display: flex;
  flex-direction: column;
}
.studies_5 img{
  max-height: 300px;
}

@keyframes animation {
  from{
    width: 0%;
    height: 0%;
  }
  to{
    width: 100%;
    height: 100%;
  }
}


.home_exposer{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.home_exposer h1{
  font-size:100pt;
}

.home_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile_picture{
  border-radius: 100%;
  height: 60vh;
}
.icon_wrapper{
  width: 30%;
}

.icon_wrapper h3{
  font-size: 30pt;
}

.icon_wrapper_2{
  display: flex;
  flex-wrap: wrap;
  gap: 10pt;
  font-size: 30pt;
}
