.note {
  background-color: #fffbcc; /* Color de fondo tipo nota */
  border: 1px solid #f0e68c;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Asegura que todas las notas tengan el mismo ancho */
  max-width: 400px; /* Ancho máximo para todas las notas */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  color: #000;
}

.note-title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.note-content {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
